 <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title"><span>Main</span></li>
                        <li class="active">
                            <a href="/admin"><i class="feather-grid"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="/admin/upcoming-appointments"><i class="feather-calendar"></i>
                                <span>Appointments</span></a>
                        </li>
                        <li>
                            <a href="/admin/specialities"><i class="feather-package"></i> <span>Specialities</span></a>
                        </li>
                        <li>
                            <a href="/admin/doctor-list"><i class="feather-user-plus"></i> <span>Doctors</span></a>
                        </li>
                        <li>
                            <a href="/admin/patient-list"><i class="feather-users"></i> <span>Patients</span></a>
                        </li>
                        <li>
                            <a href="/admin/ratings"><i class="feather-star"></i> <span>Reviews</span></a>
                        </li>
                        <li>
                            <a href="/admin/transaction"><i class="feather-credit-card"></i> <span>Transactions</span></a>
                        </li>
                        
                        <li class="submenu">
                            <a href="#"><i class="feather-file-text"></i> <span> Reports</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="appointment-report.html">Appointment Report</a></li>
                                <li><a href="income-report.html">Income Report</a></li>
                                <li><a href="invoice-report.html">Invoice Report</a></li>
                                <li><a href="user-reports.html">Users Report</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">
                            <span>Hospitals</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="feather-file-plus"></i> <span>Service Provider</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/admin/hospital-list">Laboratary</a></li>
                                <li><a href="pharmacy-category.html">Hospital</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">
                            <span>Blog</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="feather-grid"></i> <span> Blog</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/admin/blog-list">Blogs</a></li>
                                <li><a href="/admin/add-blog">Add Blog</a></li>
                               
                            </ul>
                        </li>
                        <li class="menu-title">
                            <span>Pages</span>
                        </li>
                        <li>
                            <a href="/admin/admin-profile"><i class="feather-user"></i> <span>Profile</span></a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>